.access {
  div {
    margin-top: 40px;

    h3, p, ul {
      margin: 0.5rem;
    }
  }
  .contact {
    ul {
      text-align: left;
      list-style: none;
    }
  }
  .address {
    padding: 0 1rem;
  }
}